
//global style

$blue 		: #1D2CF0;
$red		: #F51A2F;
$yellow		: #F0D310;
$white		: #FFFFFF;
$black		: #000;

$bg-color		: darken($white, 50%);
$nav-bg-color	: light($yellow, 30%);
$base-color		: $black;
$text-color		: $red;

